@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes map_fade {
  100% {
    opacity: 1;
  }
}

.header_nofade {
  animation: map_fade 1s linear forwards;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.01, 1.01);
  }

  100% {
    transform: scale(1, 1);
  }
}

.image {
  animation: zoom-in-zoom-out 5s ease infinite;
}

.title {
  font-family: "Open Sans", sans-serif;
}

.subtext {
  animation: fade 5s linear infinite;
}

@keyframes fade {
  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
}

.map {
  /* display: table-cell; */
  position: absolute;
  left: 45%;
  top: 80%;
  width: 10%;
  height: 10%;
  color: white;
  font-size: 1.8vw;
  /* text-align: center; */
  line-height: 100%;
  border: solid #ffffff;
  /* background-color: #000000; */
  animation: map_fade 1s linear forwards;
  /* animation-delay: 2s; */
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes map_fade {
  100% {
    opacity: 1;
  }
}
